body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    transition: 0.3s;
}

.content-page {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
}


.icon {
    fill: var(--bg-color);
}

.icon-inverted {
    fill: var(--inverted-bg-color);
}

.icon-primary {
    fill: var(--primary-color);
}