body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    transition: 0.3s;
}

.content-page {
    display: flex;
    position: relative;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.icon {
    fill: var(--bg-color);
}