.button {
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    padding: 3px 11px;
    border-radius: 4px;
    color: var(--bg-color);
}

.clear,
.clear-inverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;

}

.clear {
    color: var(--inverted-bg-color);
}

.clear-inverted {
    color: var(--bg-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}
.outline-red {
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: transparent;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.background-inverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;

    &.size_m {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.square.size_l {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.size_xl {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}