.sidebar-wrapper {
    height: 100%;
    width: calc(var(--sidebar-width));
    background: var(--inverted-bg-color);
    position: relative;
    transition: 0.3s;
}

.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.block {
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--inverted-bg-color);
    transition: 0.3s;
    height: 100%;
    width: var(--sidebar-width) ;
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--sidebar-width);
    display: flex;
    transition: 0.3s;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}

.link {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        height: 80px;
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}