.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        height: 80px;
    }

}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 90px;
}

.menu-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.links {
    display: flex;
}