.panel {
    background: var(--card-bg);
    position: absolute;
    z-index: var(--modal-z-index);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    padding: 12px;
}