.article-list {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    justify-content: space-evenly;

    .card {
        display: inline-flex;
        min-width: 232px;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
    }
}

.list {
    display: flex;
    flex-flow: column wrap;
}