.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
}

.item {
    padding: 3px 11px;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;

    &_active {
        background: var(--inverted-primary-color);
    }

    white-space: nowrap;
}