.sidebar-item {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.sidebar-item__text {
    opacity: 1;
    margin-left: 8px;
    transition: all 0.4s ease-out;
    animation: fadeIn 0.7s;
}

.sidebar-item__text_collapsed {
    margin-left: 0;
    width: 0;
    height: 40px;
    transition: all 0s ease-out;
    animation: fadeOut 0.7s;
    opacity: 0;
}