.app.dark {
    --bg-color: #202028;
    --inverted-bg-color: #252554;
    --primary-color: #009a00;
    --secondary-color: #6f4d4d;
    --inverted-primary-color: #1f871f;
    --inverted-secondary-color: #a8a8a8;
}