:root {
    --bg-color: #fbfbfe;
    --bg-color-rgb: 251 251 254;
    --inverted-bg-color-rgb: 32 32 40;
    --inverted-bg-color: rgb(var(--inverted-bg-color-rgb));
    --primary-color: #008500;
    --secondary-color: #a8a8a8;
    --inverted-primary-color: #009a00;
    --inverted-secondary-color: #6f4d4d;

    //skeleton
    --skeleton-color: #d6d6d6;
    --skeleton-shadow: #d1d1d1;

    //card
    --card-bg: #e3e3e7;
}