.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.item {
    padding: 3px 11px;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;

    &_active {
        background: var(--inverted-primary-color);
    }
}

.bottom-left {
    top: 100%;
    right: 100%
}

.top-left {
    bottom: 100%;
    right: 100%
}

.bottom-right {
    top: 100%;
    left: 100%
}

.top-right {
    bottom: 100%;
    left: 100%
}

.bottom {
    top: 100%;
}

.top {
    bottom: 100%;
}