.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

.links {
    margin-left: auto;
}