.profile-card {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatar-wrapper {
    display: flex;
    place-items: center center;
    width: 100%;
}

.editable {
    border: 2px solid var(--primary-color);
}