.card {
    padding: 16px;
    border-radius: 10px;
    background: var(--inverted-bg-color-rgb);
    box-shadow: 0 0 10px rgba(var(--inverted-bg-color-rgb) / 0.3);
}

.normal {
    background: var(--card-bg);
}

.outline {
    border: 2px solid var(--primary-color);
    background: transparent;
}